name: CI

on:
  push:
    branches:
      # @fisker don't run on main branch, since workflows there are from upstream
      - dev
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: packages/angular-html-parser

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node:
          - "24"
          - "22"
          - "20"
          - "18"
          - "16"
          - "14"
    name: Test
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}

      - run: |
          yarn --immutable
          yarn test
          yarn build
          yarn lint

